html, body{
  	background-color:#132672;
  	min-width:500px;
}

.comunidad{
  color:#000000;
  font-size:120%;
  font-family: 'Verdana', arial;
}

.provincia{
	color:#222D6F;
	margin-bottom:5px;
	cursor: pointer;
	font-family: 'Verdana', arial;
	font-size:90%;
}

.provincia:hover{
	color:#FF0000;
}

a {
	text-decoration:none;
}

#txthead{
	text-align:center;
	top:10px;
	font-family: 'Verdana', arial;
	font-size:175%;
	color:#FCDB02;
	text-shadow: 3px 3px 5px #131835;
}

#seleccion {
	width: 500px;
	background-color:#F2F2F2;
	margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius:10px;
	box-shadow: 8px 8px 15px 5px #131835;
}

#seleccion1{
	text-align:center;
	margin-top:15px;
}

#seleccion2{
	text-align:center;
	margin-top:15px;
}
