/* Done by: DSI PROJECT GROUP NUMBER 4 */

body {
    margin: 0px;
	background-color: #cccccc;
	font-family: "Verdana";
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#logo-div {
	float: left;
	margin-left: 20px;
}

#logo {
	width: 170px;
	height: 70px;
}

#header {
	background-color: #002b55;
	width: 1024px;
	height: 75px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.headerButton {
	float: right;
	margin-right: 10px;
	height: 15px;
	color: white;
}

#header button:hover{
	cursor: pointer; cursor: hand;
    background-color: #397090;
}

#buscador {
    float: left;
    margin-top: 20px;
	width: 500px;
	height: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

#textoBusqueda {
    float: left;
	width: 430px;
    height: 25px;
    background-color: aliceblue;
}

#botonBusqueda{
    float: left;
    width: 30px;
    height: 30px;
}

#initButton {
    background-color: #0d4168;
	color: white;
    border: black;
	margin-top: 20px;
	width: 100px;
	height: 25px;
	border: black 1px solid;
}

#regButton {
	margin-right: 30px;
	background-color: #0d4168;
	color: white;
    border: black;
	margin-top: 20px;
	width: 100px;
	height: 25px;
	border: black 1px solid;
}

#menu {
	background-color: #002b55;
	width: 1024px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#menu-table {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
	width: 950px;
}

#menu-table, td {
	text-align: center;
	background-color: #0d4168;
	color: white;
	font-family: "Verdana";
	font-size: 12px;
}

#menu td {
    height: 100%;
	width: 12.5%;
}

#menu td:hover {
	background-color: #397090;
}

#menu-table a {
    display: block;
    vertical-align: middle;
    line-height: 34px;
    width: 100%;
}

a {
	text-decoration: none;
    color: inherit;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #002b55, #ccc);
    margin-left: 2%;
}

#cuerpo {
    min-width: 1024px;
    float: left;
	padding-top: 0;
    background-color: white;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#contenido {
	float: left;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#infoP {
	float: left;
	width: 98%;
	height: auto;
	background-color: #f5f2f2;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 5px;
}

#imgP {
	float: left;
	width: 170px;
	height: auto;
	margin-top: 0.5%;
	margin-left: 0.5%;
}

#descripcion {
	float: left;
	width: 30%;
	margin-left: 1%;
}

#location {
	float: left;
	width: 50%;
	margin-left: 1%;
	text-align: justify;
}

#location p {
    text-align: center;
}

#googleMap {
    width: 400px;
    height: 280px;
    margin-left: 50px;
    margin-bottom: 10px;
}

p {
	margin-right: 1%;
	font-size: 12px;
}

h4 {
	margin-right: 1%;
}

#btn1 {
  background: #0d4168;
  border-radius:7px;
  cursor:pointer;
  font-size:13px;
  font-family: "Verdana";
  padding:4px 10px;
  text-decoration:none;
  margin-left: 2%;
  margin-bottom: 2%;
  color: white;
}

#btn1:hover {
  background-color:#476e9e;
}

#btn1:active {
  position:relative;
  top:1px;
}

#imagenes {
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 300px;
}

h2 {
	text-align: center;
	line-height: 0.5%;
}

h3 {
	line-height: 1%;
	text-align: left;
	color:black;
}

#imagenes {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 1%;
}

h2 {
    text-align: center;
    line-height: 0.5%;
    color: #002b55;
}

h3 {
    line-height: 1%;
    text-align: center;
    color: #002b55;
}

#estrenos {
    float: left;
    margin-top: 10px;
    width: 100%;
}

.im {
    width:160px;
    height:259px;
}

#imagenes ul {
    height: 259px;
    list-style: none;
    margin-left: 20px;
}

#imagenes li {
    float: left;
    height: 200px;
    margin: 0 5px 5px 0;
    width: 170px;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}
#imagenes ul:hover li {
    opacity: .25;
    -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
        -ms-transform: scale(.8);
         -o-transform: scale(.8);
            transform: scale(.8);
}
#imagenes ul li:hover {
    box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

.box {
    position: fixed;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 13%;
    margin-bottom: 13%;
  width: 550px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: white;
}

.box li {
    white-space: nowrap;
    list-style-type: none;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    margin-left: 5%;
}



input[type="password"], input[type="email"], input[type="text"] {
    background: transparent;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 1%;
    border-right: 1%;
    width: 50%;
    margin-right: 5%;
    float: right;
}

.btn2 {
    background:#0d4168;
    border-radius:4px;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    padding:4px 10px;
    text-decoration:none;
    margin-left: 40%;
    margin-bottom: 2%;
    color: white;
}

.btn2:hover {
    background-color:#476e9e;
}

footer, .footer {
    width: 100%;
    height: 190px;
    margin: auto;
    color: #cccccc;
    background-color: #002b55;
    font-family: "Verdana";
    font-size: 12;
    display: inline-block;
    margin-bottom: -5px;
}

.social {
  	height: 30px;
  	width: auto;
  	margin: 3px;
}

#logo_footer {
  height: 60px;
  width: auto;
}

.redes_footer {
  float: left;
  margin-top: 140px;
  margin-left: -290px;
}

.list_footer {
  list-style-type: none;
  margin: 2px;
  margin-left: 50px;
  font-size: 11px;
  padding: 0;
  width: 150px;
}

.enlace_footer {
  text-decoration: none;
  color: #ffffff;
}

.tarjeta_footer {
  width: 140px;
  float: left;
  margin-right: 30px;
}

.venta_tfno {
  float: right;
  margin-right: 50px;
   font-size: 11px;
}
