/* Done by:
	DSI PROJECT GROUP NUMBER 4
*/

body {
    margin: 0px;
	background-color: #cccccc;
	font-family: "Verdana"; 
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#logo-div {
	float: left;
	margin-left: 20px;
}

#logo {
	width: 170px;
	height: 70px;
}

#header {
	background-color: #002b55;
	width: 1024px;
	height: 75px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.headerButton {
	float: right;
	margin-right: 10px;
	height: 15px;
	color: white;
}

#header button:hover{
	cursor: pointer; cursor: hand;
    background-color: #397090;
}

#initButton {
    background-color: #0d4168;
	color: white;
    border: black;
	margin-top: 20px;
	width: 100px;
	height: 25px;
	border: black 1px solid;
}

#regButton {
	margin-right: 30px;
	background-color: #0d4168;
	color: white;
    border: black;
	margin-top: 20px;
	width: 100px;
	height: 25px;
	border: black 1px solid;
}

#menu {
	background-color: #002b55;
	width: 1024px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#menu-table {
    margin-left: auto;
    margin-right: auto;
	width: 950px;
	height: 30px;
}

#menu-table, td {
	text-align: center;
	background-color: #0d4168;
	color: white;
	font-family: "Verdana";
	font-size: 12px;
}

#menu td {
	width: 12.5%;
}

#menu td:hover {
	background-color: #397090;
}

#menu-table a {
    display: block;
    vertical-align: middle;
    line-height: 40px;
    height: 100%;
    width: 100%;
}

a {
	text-decoration: none;
    color: inherit;
}

hr {
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#cuerpo {
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
	width: 1024px;
	height: auto;
	margin-top: 0%;
	padding-top: 0;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#contenido {
	float: left;
	width: 100%;
	height: auto;
	background-color: white;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#infoP {
	float: left;
	width: 98%;
	height: auto;
	background-color: #d5d2d2;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 5px;
}

#imgP {
	float: left;
	width: 170px;
	height: auto;
	margin-top: 0.5%;
	margin-left: 0.5%;
}

#descripcion {
	float: left;
	width: 80%;
	margin-left: 1%;
}


p {
	margin-right: 1%;
	font-size: 12px;
}
h4 {
	margin-right: 1%;
}

#btn1 {
  background: #0d4168;
  border-radius:7px;
  cursor:pointer;
  font-size:13px;
  font-family: "Verdana"; 
  padding:4px 10px;
  text-decoration:none;
  margin-left: 2%;
  margin-bottom: 2%;
  color: white;
}

#btn1:hover {
  background-color:#476e9e;
}

#btn1:active {
  position:relative;
  top:1px;
}

#imagenes {
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 300px;
}

h2 {
	text-align: center;
	line-height: 0.5%;
}

h3 {
	line-height: 1%;
	text-align: left;
	color:black;
}

#elegirCine {
	float: left;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
}

select {
	margin-left: 30%;
}

.im { 
	width: 170px;
	height: 200px;
}

#cuerpo ul {
    height: 200px;
    list-style: none;
}

#cuerpo li {
    float: left;
    height: 200px;
    margin: 0 5px 5px 0;
    width: 170px;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}
#cuerpo ul:hover li {
    opacity: .25;
    -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
        -ms-transform: scale(.8);
         -o-transform: scale(.8);
            transform: scale(.8);
}
#cuerpo ul li:hover {
    box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

/* CARROUSEL STYLE */

.sac {
	display:block;
	width:100%;
	text-align:right;
	font-style:italic;
	margin-bottom:45px;
	font-size:12px;
}

pre, blockquote {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	background-color:#DFE7DD;
	margin:15px 0;
	padding:15px;
}

pre, code {
	font-family:monospace;
	font-size:12px;
}

.liquid {
	background:#313b31 url('../images/bodybackground.png') repeat-y scroll 50% 0;
	border:2px solid #19301C;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	padding: 10px;
}

.liquid .previous {
	display:block;
	height:126px;
	width:64px;
	background-image:url('../images/previous.png');
	float:left;
	margin:0;
	padding:0;
}

.liquid .next {
	display:block;
	height:126px;
	width:64px;
	background-image:url('../images/next.png');
	float:right;
	margin:0;
	padding:0;
}

.liquid ul li {
	width:126px;
	padding:0 2px;
	margin:0;
}

.liquid ul li a img {
	-moz-box-shadow: 5px 5px 3px #222;
   	-webkit-box-shadow: 5px 5px 3px #222;
   	box-shadow: 5px 5px 3px #222;
}


#f1_container {
  position: relative;
  margin: 0;
  width: 88;
  height: 126;
  z-index: 1;
}

#f1_container {
  perspective: 1000;
}

#f1_card {
  width: 88;
  height: 126;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 88;
  height: 126;
  backface-visibility: hidden;
}

.face.back {
  display: block;
  position: absolute;
  transform: rotateY(180deg);
  width: 88;
  height: 126;
  padding: 5;
  color: black;
  text-align: left;
  font-size:8px;
  background-color: grey;
}

/* CARROUSEL STYLE FINISH */

.box {
    position: fixed;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 13%;
    margin-bottom: 13%;
	width: 550px;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: white;
}

.box li {
    white-space: nowrap;
    list-style-type: none;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    margin-left: 5%;
}


.box ul {
    padding: 0;
    list-style-type: none;
}


input[type="password"], input[type="email"], input[type="text"] {
    background: transparent;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 1%;
    border-right: 1%;
    width: 50%;
    margin-right: 5%;
    float: right;
}

.btn2 {
    background:#0d4168;
    border-radius:4px;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    padding:4px 10px;
    text-decoration:none;
    margin-left: 40%;
    margin-bottom: 2%;
    color: white;
}

.btn2:hover {
    background-color:#476e9e;
}

.btn2:active {
    position:relative;
    top:1px;
}

#end {
	height: auto;
	float: left;
	width: 98%;
	margin-top: 1.5%;
}