/* Done by:
	DSI PROJECT GROUP NUMBER 4
*/
body {
    background-color: lightblue;
}

div li {
    white-space: nowrap;
    list-style-type: none;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    margin-left: 5%;
}


div ul {
    padding: 0;
    list-style-type: none;
}

h2 {
	text-align: center;
}

.box {
	margin-left: auto;
    margin-right: auto;
	width: 500px;
    height: auto;
    margin-top: 20%;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: white;
}

input[type="password"], input[type="email"], input[type="text"] {
    background: transparent;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 1%;
    border-right: 1%;
    width: 50%;
    margin-right: 5%;
    float: right;
}

.btn {
    background:#22a3f5;
    border-radius:4px;
    cursor:pointer;
    font-size:13px;
    font-weight:bold;
    padding:4px 10px;
    text-decoration:none;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 40%;
    margin-bottom: 2%;
    color: white;
}

.btn:hover {
    background-color:#476e9e;
}

.btn:active {
    position:relative;
    top:1px;
}
