/* Done by:
	DSI PROJECT GROUP NUMBER 4
*/
body{
	margin: 0;
	padding: 0;
 	background-color: white;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#logo{
	position:absolute;
	float:left;
	margin-left:10px;
	width:170px;
	height:70px;
}

#logo1{
	width:170px;
	height:70px;
}

#cuerpo {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 0%;
	padding-top: 0;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#cabecera {
	width: 100%;
	height: auto;
	background-color: #002A54;
	margin-top: 0%;
	padding-top: 0;
	color: white;
	float: left;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#contenido {
	float: left;
	width: 100%;
	height: auto;
	background-color: white;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#infoP {
	float: left;
	width: 98%;
	height: auto;
	background-color: #d5d2d2;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 5px;
}

#imgP {
	float: left;
	width: 170px;
	height: auto;
	margin-top: 0.5%;
	margin-left: 0.5%;
}

#descripcion {
	float: left;
	width: 30%;
	margin-left: 1%;
}

#sinopsis {
	float: left;
	width: 50%;
	margin-left: 1%;
	text-align: justify;
}

p {
	margin-right: 1%;
	font-family: Palatino Linotype;
	font-size: 14px;
}
.btn {
  background:#22a3f5;
  border-radius:4px;
  cursor:pointer;
  font-size:13px;
  font-weight:bold;
  padding:4px 10px;
  text-decoration:none;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  margin-bottom: 2%;
  color: white;
}

.btn:hover {
  background-color:#476e9e;
}

.btn:active {
  position:relative;
  top:1px;
}

#imagenes {
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: auto;
}

h2 {
	text-align: center;
	line-height: 0.5%;
}

h3 {
	line-height: 1%;
	text-align: center;
}

#elegirCine {
	float: left;
	width: 98%;
	margin-top: 1%;
	margin-left: 1%;
}

select {
	margin-left: 30%;
}

.im { 
	float: left;
	width: 170px;
	height: auto;
	margin-top: 0.5%;
	margin-left: 1%;
}

.thumbnail:hover {
    position: absolute;
    margin-left: 35%;
    margin-top: 5%;
    top:-25px;
    left:-35px;
    width:414px;
    height: 620px;
    height:auto;
    display:block;
    z-index:999;
}